body{
    background-color: rgb(19, 165, 170);
    color: rgb(255, 238, 0);
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hi{
    font-size: 19pt;
}
.yes{
    color: rgb(253, 192, 255);
}
.no{
    color: rgb(255, 1, 1);
}

.qwe{
    float:right;

}


